<div class="card" style="width: 18rem;">
    <!-- <img [src]="character.image" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{character.name}}</h5>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Personaje</a>
        <a href="#" class="card-link">Localizacion</a>
    </div> -->

    <div class="card">
        <img [src]="character.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{character.name}}</h5>
            <a class="card-link" [routerLink]="['/detail', id]">Detalles</a>
        </div>
    </div>
</div>